/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	text-decoration: none;
}

body {
	line-height: 1;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fffdf6;
	width: 100%;
}

ol,
ul {
	list-style: none;
	margin-left: 75px;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Style pour le conteneur du bouton */
.button-container {
	display: flex;
	justify-content: center;
	/* Centre horizontalement */
	align-items: center;
	/* Centre verticalement */
}

/* Style pour le bouton */
button {
	width: auto;
	height: 37px;
	border-radius: 60px;
	/* Bordure arrondie */
	margin: 30px 0 40px 10px;
	align-items: center;
	/* Centre le texte verticalement */
	justify-content: center;
	/* Centre le texte horizontalement */
	border: 2px solid #1D6154;
	/* Bordure verte */
	background-color: #FFFFFF;
	/* Fond blanc */
	color: #1D6154;
	/* Texte vert */
	font-family: 'Syne', sans-serif;
	/* Police de caractères */
	font-size: 16px;
	/* Taille du texte */
	font-weight: 700;
	/* Poids du texte */
	line-height: 19.2px;
	/* Hauteur de ligne */
	text-align: center;
	/* Aligne le texte au centre */
	cursor: pointer;
	/* Curseur en forme de main */
	transition: background-color 0.3s, color 0.3s;
	/* Transition douce */
}

.main {
	width: 80%;
	height: auto;
	margin: 0 0 0 180px;
}

/* Style pour le bouton actif */
button.active {
	background-color: #1D6154;
	/* Fond vert */
	color: #FFFFFF;
	/* Texte blanc */
}

/* Style pour le paragraphe à l'intérieur du bouton */
button p {
	margin: 0;
	/* Enlève les marges par défaut du paragraphe */
	line-height: 37px;
	/* Centre le texte verticalement dans le bouton */
}

.gallery #projets-liste {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}



.gallery img {
	width: 100%;
	margin: 0 0 10px 0;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
	font-family: 'Syne';
	font-weight: 700;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 490px;
	margin-left: 138px;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
.submit {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}



#mot-de-passe {
	display: flex;
	justify-content: center;
}

nav a {
	text-decoration: none;
	color: black;
	/* Couleur normale des liens */
}

/* Lien actif (lorsqu'il correspond à la page) */
nav a.active {
	font-weight: bold;
	color: rgb(0, 0, 0);
	/* Couleur du lien actif */
}

/* Empêcher le lien de rester en :active ou :focus */
nav a:focus,
nav a:active {
	color: black;
	/* Garde la couleur normale après avoir cliqué */
}

/* footer */
footer {
	width: 100%;
	background-color: #FFF;
	padding: 20px 0;
}

footer nav a {
	margin-right: 140px;
	font-size: 1.4em;
	display: flex;
	justify-content: flex-end;
}


.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.5);
}

.modal span {
	display: none;
}

/* .modal h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 35px;
	margin: 50px;
} */

.modal-wrapper {
	width: 793px;
	height: 830px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 2%;
}

/* Styles pour la galerie */
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.gallery li {
	flex: 1 1 calc(33.333% - 10px);
	margin: 5px;
}


.gallery img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
}

/* Styles pour la galerie */

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.gallery ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 0px 0px 100px;
}


.gallery2 li {

	margin: 5px;
}



.gallery img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 5px;
}

/* Styles pour la modale */
.modal img {
	max-width: 100%;
	max-height: 70vh;
	width: 113px;
	height: auto;
	margin: 0 0 17px 0;
	display: block;
	border-radius: 5px;
}

.separator {
	border-top: 1px solid #000;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0px 40px 154px;}

.Ajouter {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	display: flex;
	text-align: center;
	justify-content: center;
	border-radius: 60px;
}

.js-modal-close {
	position: absolute;
	top: 10px;
	right: 570px;
	background: none;
	border: none;
	font-size: 2.5em;
	cursor: pointer;
	color: black;
}

.js-modal-close2 {
	position: absolute;
	top: 10px;
	right: 570px;
	background: none;
	border: none;
	font-size: 2.5em;
	cursor: pointer;
	color: black;
}

/* Style du bouton de suppression dans la modale */
.delete-btn {
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	bottom: 87px;
	right: 9px;
	width: 26px;
	height: 25px;
	padding: 4px;
	background-color: #ffffff;
	display: flex;
	align-items: flex-start;
	border-radius: 10%;
	justify-content: center;
}

.modal li {
	position: relative;
		display: inline-flex;
		margin: 10px;
}

/* Modal sup */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0, 0.5);
}

/* Page login */

.login-container input {
	width: 100%;
	margin-bottom: 10px;
}

.login-container button[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/* Styles pour le modal d'ajout de photo */
#addPhotoModal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	/* Assurez-vous que le modal est au-dessus des autres éléments */
}

.addPhotoModal h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 35px;
	margin: 50px;
}

.modal-wrapper {
	width: 793px;
	height: auto;
	/* Changez la hauteur pour s'adapter au contenu */
	padding: 20px;
	background-color: #FFF;
	border-radius: 2%;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	/* Ajoutez une ombre si nécessaire */
}

.js-modal-close {
	position: relative;
	top: 10px;
	right: 20px;
	/* Ajustez selon vos besoins */
	background: none;
	border: none;
	font-size: 2.5em;
	cursor: pointer;
	color: black;
}

/* Formulaire dans le modal */
#addPhotoForm {
	display: flex;
	flex-direction: column;
}

#addPhotoForm label {
	margin-top: 20px;
	font-family: 'Syne';
	font-weight: 600;
}

#addPhotoForm input[type="text"],
#addPhotoForm select,
#addPhotoForm input[type="file"] {
	height: 50px;
	font-size: 1em;
	border: 1px solid #ccc;
	/* Ajoutez une bordure pour les champs de formulaire */
	margin-top: 5px;
	padding: 10px;

	height: 50px;
		font-size: 1.2em;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#addPhotoForm button {
		width: 270px;
			height: 45px;
			border-radius: 60px;
			margin: 40px 0px;
			border: none;
			background-color: #A7A7A7;
			color: #FFFFFF;
			font-family: 'Syne', sans-serif;
			font-size: 16px;
			font-weight: 700;
			line-height: 19.2px;
			text-align: center;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
			position: relative;
			left: 255px;
}

.custom-file-upload {
	background: none;
		border: none;
		cursor: pointer;
		position: absolute;
		bottom: 87px;
		right: 9px;
		width: 26px;
		height: 25px;
		padding: 4px;
		display: flex;
		align-items: flex-start;
		border-radius: 10%;
		justify-content: center;
	background-color: #CBD6DC;
	color: #306685;
	
}

.custom-file-upload:hover {
	background-color: #0056b3;
	/* Couleur au survol */
}

.sidebar-bar {
	background-color: #f4f4f4;
	/* Couleur de fond */
	padding: 10px;
	/* Espace interne */
	text-align: center;
	/* Alignement du texte */
	font-weight: bold;
	/* Texte en gras */
	border-bottom: 1px solid #ccc;
	/* Ligne de séparation */
	margin-bottom: 10px;
	/* Espacement avec les éléments suivants */
}

#titlemodal{
display: flex;
	    align-items: center;
	    justify-content: center;
	    color: black;
	    font-family: 'Work Sans';
	    font-weight: 500;
	    font-size: 35px;
	    margin: 50px;
}
	    
 